.image-1 {
  background-image: url('../assets/images/1.png') !important;
}
.image-2{
  background-image: url('../assets/images/2.png') !important;
}
.image-3{
  background-image: url('../assets/images/3.png') !important;
}
.image-4{
  background-image: url('../assets/images/4.png') !important;
}
.image-5{
  background-image: url('../assets/images/5.png') !important;
}
.image-6{
  background-image: url('../assets/images/6.png') !important;
}
.image-7{
  background-image: url('../assets/images/7.png') !important;
}